.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #c2e6f8;
}

.nav h3{
    font-size: 20px;
    width: 80px;
    border-radius: 15px;
    margin-left: 10px;
    text-decoration: none;
}

.divcat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;

}
.divcat button{
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border: 2px solid #578faa;
    border-radius: 15px;
}
button:is(:hover, :focus){
	box-shadow: 0px 8px 10px 1px rgba(black);
	transform: scale(1.2);
	background-color: rgba(51, 129, 239, 0.8);
	transition-duration: 1s;
}

.hsubrayado{
    text-decoration: none;
}

.imgcarrito{
    width: 25px;
    height: 25px;
}